@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap");
@import url('nav-menu.css');
@import url('show-slider.css');
@import url('categoria-destaque.css');
@import url('produtos-relacionados.css');
@import url('galeria-produtos.css');
@import url('footer.css');
@import url('animations.css');
@import url('sub-menu.css');
@import url('categoria-main.css');
* {
    margin: 0%;
    padding: 0;
    font-family: "Nunito", sans-serif;
}