.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #161616;
}

.nav-menu ul {
    list-style-type: none;
    text-align: center;
}

.nav-menu li {
    display: inline;
    margin: 15px;
    padding: 10px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

#lp-button {
    border: none;
    background-color: crimson;
    padding: 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

#logo-home {
    width: 50px;
}

#flex-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}